doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-paper.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type="text/javascript" src="/jquery/jquery-1.11.3.min.js")
    script(type="text/javascript" src="/bootstrap/js/bootstrap.min.js")
